body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #FCADC3;
  color: #F6FCFB;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#container {
  width: 75%;
  height: 600px;
  margin: auto;
  padding: 10px;
}

.col {
  width: 75px;
  height: 490px;
  margin: 0 auto;
  float: left;

}

.cell {
  box-sizing: border-box;
  float: left;
  border: 1px solid #F6FCFB;
  width: 75px;
  height: 75px;
  text-align: center;
}

#left-panel {
  width: 25%;
  float: left;
  margin-top: 400px;
  font-size: 36px;
  text-align: right;
}

#right-panel {
  width: 25%;
  float: right;
  margin-top: 400px;
  font-size: 36px;
  text-align: left;
}
