@font-face {
  font-family: Drake;
  src: url('Late-Regular.otf') format("opentype");
}


body {
  font-family: "Drake", "Helvetica", "Arial", sans-serif;
  background-color: #FFB4C2;
  color: black;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#heading {
  text-align: center;
  font-size: 65px;
}
#container {
  width: 575px;
  height: 470px;
  margin: 25px auto ;
  padding: 10px;
  overflow: auto;

}

.col {
  width: 14.28%;
  height: 100%;
  margin: 0 auto;
  float: left;
  box-sizing: border-box;

}

.cell {
  box-sizing: border-box;
  /*float: left;*/
  border: 1px solid #F6FCFB;
  width: 100%;
  height: 16.66%;
  text-align: center;
}

#instructions {
  font-size: 23px;
  margin: 0 auto;
}

#quote {
  font-size: 23px
}


#winner-message {
  margin-top: 80px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin: 0, auto;
  font-size: 50px;
  margin-bottom: 75px;
}

#currentplayer1 {
  padding: 50px;
  float: left;
  font-size: 25px;
}

#currentplayer2 {
  padding: 50px;
  float: right;
  font-size: 25px;
}

@media screen and (min-width: 1101px) and (max-width: 1215px) {


  #heading {
    font-size: 45px;
  }

  #container {
      display: block;
  }
  #currentplayer1 {
    padding: 10px;
    float: left;
    font-size: 25px;
  }

  #currentplayer2 {
    padding: 10px;
    float: right;
    font-size: 25px;
  }
}

@media screen and (max-width: 1100px) {

  #heading {
    font-size: 35px;
    font-weight: bold;
  }

  #quote {
    display: hidden;
  }


  #currentplayer1 {
    font-size: 15px;
    padding: 10px;
    font-size: 25px;
    float: none;
    display: block;
  }

  #currentplayer2 {
    font-size: 15px;
    padding: 10px;
    font-size: 25px;
    float: none;
    display: block;
  }
}
